[submodule "extern/third_party/DirectXTK"]
	path = extern/third_party/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
